@font-face {
    font-family: font-secondary;
    src: url(./FinkHeavy.otf);
}


:root {
    --black: black;
    --white: white;

    --font-primary: sans-serif;
    --font-secondary: font-secondary;

    --spacing-50: 10px;
    --spacing-100: 20px;
    --spacing-200: 40px;

    --brand-primary: #82dab1;
}

html {
    padding: 0;
    margin: 0;
}

body {
    color: var(--white);
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    padding: 0;
    margin: 0;

    font-family: var(--font-primary);
    letter-spacing: 1px;
    /*
    background: repeating-linear-gradient( 45deg, #fff, #fff 3px, #939393 3px, #939393 6px);
    */
    background: var(--black);
}

hr {
    height: 0;
    border-width: 0.5px;
    border-bottom-width: 0.5px;
    border-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    border-bottom: 0;
}

a {
    color: var(--white);
}

a:hover {
    color: var(--brand-primary);
}

section {
    display: block;
    margin: auto;
    text-align: left;
    margin-top: var(--spacing-200);
}

b {
    color: var(--brand-primary);
    font-weight: normal;
}

body > div {
    background-color: var(--black);

    display: flex;
    padding: var(--spacing-100);
    margin: var(--spacing-100);

}

#illustration {
    max-width: 300px;
    max-height: 660px;
    filter: grayscale(100%);
    flex-shrink: 0;
}

.content {
    flex-grow: 1;
    text-align: right;
}

h1 div {
    font-size: 50px;
    font-family: var(--font-primary);
    text-align: right;
    line-height: 25px;
    flex-grow: 1;

}

h1 span {
    font-size: 24px;
    font-family: var(--font-secondary);
    letter-spacing: 3px;
    color: var(--brand-primary);
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    margin: 0;
    display: inline-block;
    text-align: left;
    list-style: none;
    padding: 0;
}

ul li {
    margin-top: var(--spacing-50);
}

ul li img {
    width: 20px;
    filter: grayscale(100%);
    vertical-align: middle;
    margin-right: var(--spacing-50);
}

ul li:last-of-type img {
    filter: invert(100%);
}

.friends > div {
    display: flex;
}

.friends > div > div {
    flex-grow: 1;
}

.friends ul li img {
    border-radius: 100%;
    width: 30px;
    filter: none;
}